<div class="chooseTheme" *ngIf="this.VisiableOrNot.getVisible('font')">


    <mat-icon class="arrow" svgIcon="font"></mat-icon>

    <mat-icon class="color color1" svgIcon="font-type" (click)="ChooseFont('1')"></mat-icon>
    <mat-icon class="color color2" svgIcon="font-type" (click)="ChooseFont('2')"></mat-icon>
    <mat-icon class="color color3" svgIcon="font-type" (click)="ChooseFont('3')"></mat-icon>
    <mat-icon class="color color4" svgIcon="font-type" (click)="ChooseFont('4')"></mat-icon>

  </div>
