::ng-deep :root {
    --width: 950px;
    --height: 1300px;

    --boldFont: font2Bold;
    --lightFont: font2Regular;
    --MediumFont: font2Medium;
    
    --nameFontSize: 35px;
    --titleFontSize: 20px;
    --descFontSize: 20px;

    --AvatarWidth: 200px;


    --leftColumnRows: 6;
    --rightColumnRows: 6;

    --rowSize: 100px;

    --theme1: #2feaa8;
    --theme12: #25be89;
    --DeleteColor:   rgba(255, 131, 131, 0.5);;

    --theme2: #425061;

    --xLocation: 50%;
    --yLocation: 50%;
    --radius: 100%;

    --clippingX: 50%;
    --clippingY: 50%;

    --SquareBorderRadius: 2px;


    --border-top-left-radius: 50%;
    --border-top-right-radius: 50%;
    --border-bottom-right-radius: 50%;
    --border-bottom-left-radius: 50%;

    --imgResize: 400px;
    --RotationDeg: 0deg;

    --RotateIconAnimation: 0deg;
    --RotatediceAnimation: 0deg;

    --zoom-in-Animation: 1;
    --zoom-out-Animation: 1;

  
}


@font-face {
    font-family: font2Regular;
    src: url('./../../assets/font/font2/Ubuntu-Light.ttf');
}

@font-face {
    font-family: font2Medium;
    src: url('./../../assets/font/font2/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: font2Bold;
    src: url('./../../assets/font/font2/Ubuntu-Bold.ttf');
}



@font-face {
    font-family: font1Regular;
    src: url('./../../assets/font/font1/IBMPlexSansThaiLooped-Regular.ttf');
}

@font-face {
    font-family: font1Bold;
    src: url('./../../assets/font/font1/IBMPlexSansThaiLooped-SemiBold.ttf');
}



@font-face {
    font-family: font3Regular;
    src: url('./../../assets/font/font3/Manrope-Medium.ttf');
} 

@font-face {
    font-family: font3Bold;
    src: url('./../../assets/font/font3/Manrope-Bold.ttf');

}


.EducationContainer {
    /* background-color: cyan; */
    position: relative;
}

.EducationContainer:hover .HoverOnEdu {
    height: 140px;
    left: -10%;
}

.HoverOnEdu {
    background-color: var(--theme1);
    position: absolute;
    left: 0;
    height: 0px;
    right: 100%;
    top: 10px;
    transform: translate(0%, -50%);
    width: 30px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.4s;
    overflow: hidden;

}

.addEdu {
    flex: 1;
    transition: 0.4s all;
}

.addEdu:hover {
    background-color: var(--theme12);
}


.ColumnTitle {
    font-family: var(--boldFont);
    font-size: 28px;
    font-weight: 900;
}

.EducationRow:hover .handle {
    opacity: 0.5;
}

.EducationRow {
    position: relative;
    margin-top: 16px;
    /* background-color: green; */
}


.handle{
    /* background-color: red; */
    position: absolute;
    height: 100%;
    right: 5px;
    opacity: 0;
    transition: 0.2s all ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}


.hand {
    width: 30px;
    height: 30px;
    cursor: grab;
}

.trashEdu {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.Title {
    outline: none;
    font-family: var(--MediumFont);
    font-weight: 500;
    font-size: 22px;
    transition: all 0.2s;
    padding: 5px;
    border-radius: 16px;
    border: none;
    background-color: transparent;
    /* font-weight: 700; */
    padding-left: 16px;

}

.Title::after{
    content:  attr(data-after) ;
    margin: 10px;
}





.Title:focus {
    border-bottom: var(--theme1) 3px solid;
}

.Title:hover {
    background-color: rgba(128, 128, 128, 0.078);
    /* box-sizing: border-box; */
}


.restInput {
    outline: none;
    font-family: var(--lightFont);
    font-size: 18px;
    transition: all 0.2s;
    padding: 5px;
    border-radius: 16px;
    border: none;
    background-color: transparent;
    font-weight: 700;
    padding-left: 16px;

}



.restInput:focus {
    border-bottom: var(--theme1) 3px solid;
}

.restInput:hover {
    background-color: rgba(128, 128, 128, 0.078);
}


.dates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.date {
    flex: 1;
}


.notShow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--lightFont);
    font-size: 18px;
}

.alignLeft {
    display: flex;
    justify-content: flex-start;
    opacity: 0.5;
}

.alignRight {
    display: flex;
    justify-content: flex-end;
    opacity: 0.5;
    padding-right: 16px;
}

.addNewEdu {
    cursor: pointer;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    opacity: 0.5;
}


.pulseAnim {
    animation: pulse 2s infinite linear;
}

@keyframes pulse {
    0% {
        background-color: rgba(128, 128, 128, 0.00);
    }

    5% {
        background-color: rgba(128, 128, 128, 0.01);
    }

    10% {
        background-color: rgba(128, 128, 128, 0.03);
    }

    15% {
        background-color: rgba(128, 128, 128, 0.04);
    }

    20% {
        background-color: rgba(128, 128, 128, 0.06);
    }

    25% {
        background-color: rgba(128, 128, 128, 0.07);
    }

    30% {
        background-color: rgba(128, 128, 128, 0.09);
    }

    35% {
        background-color: rgba(128, 128, 128, 0.10);
    }

    40% {
        background-color: rgba(128, 128, 128, 0.12);
    }

    45% {
        background-color: rgba(128, 128, 128, 0.14);
    }

    50% {
        background-color: rgba(128, 128, 128, 0.15);
    }

    55% {
        background-color: rgba(128, 128, 128, 0.14);
    }

    60% {
        background-color: rgba(128, 128, 128, 0.12);
    }

    65% {
        background-color: rgba(128, 128, 128, 0.11);
    }

    70% {
        background-color: rgba(128, 128, 128, 0.09);
    }

    75% {
        background-color: rgba(128, 128, 128, 0.08);
    }

    80% {
        background-color: rgba(128, 128, 128, 0.06);
    }

    85% {
        background-color: rgba(128, 128, 128, 0.05);
    }

    90% {
        background-color: rgba(128, 128, 128, 0.03);
    }

    95% {
        background-color: rgba(128, 128, 128, 0.02);
    }

    100% {
        background-color: rgba(128, 128, 128, 0.00);
    }


}

.GpaContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.gpa{
    flex: 1;
    /* background-color: cyan; */
}

.SelectGpaSystem{
    outline: none;
    font-family: var(--lightFont);
    font-size: 18px;
    transition: all 0.2s;
    padding: 5px;
    border-radius: 16px;
    border: none;
    background-color: transparent;
    font-weight: 700;
    padding-left: 16px;
    text-align: center;
    flex: 0.8;
    box-shadow: 0 0 0 2px var(--theme1);
    position: relative;
    cursor: pointer;
    
}

.circleSystem{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--theme1);
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0,-50%);
    transition: all 0.2s;
}

.circleSystmeinside{
    border-radius: 50%;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    background-color: transparent;
    /* visibility: hidden; */
    transition: all 0.2s;
    /* z-index: 2; */
}

/* .SelectGpaSystem:hover{
    background-color: var(--theme1);
} */

.SelectedGpaSystemOn{
    background-color: var(--theme1);
}

.circleSystmeinsideOn{
    background-color: white;
}
.circleSystemOn{
    border-color: white;
}

/* .SelectGpaSystem:hover .circleSystmeinside{
    background-color: white;
}

.SelectGpaSystem:hover .circleSystem{
    border-color: white;
} */

.containerTitle{
    position: relative;
    display: flex;
    justify-content: space-around;

}

.tempBefore{
    position: absolute;
    right: 0;
}

.CertificateProve{
    position: absolute;
    left: -5%;
    top: 0;
    opacity: 0.5;
    cursor: pointer;
}

a{
    all: unset;
}






