<button (click)="printPara()">Reset to A4 size page</button>
<!-- <button (click)="ZoomIn()">zoom in</button>
<button (click)="ZoomOut()">zoom out</button>
<button (click)="Confirm()" class="button">Confirm</button> -->

<!-- <button (click)="toggleRods()" class="button">toggle rods</button> -->

<!-- <button (click)="toggleRadius()" class="button">toggleRadius</button>



<button (click)="squareMode()">squareMode</button>
<button (click)="circleMode()">circleMode</button>

<button (click)="mode1LeftBottom()">mode1LeftBottom</button>
<button (click)="mode1LeftTop()">mode1LeftTop</button>
<button (click)="mode1RightBottom()">mode1RightBottom</button>
<button (click)="mode1RightTop()">mode1RightTop</button>

<button (click)="mode2Left()">mode2Left</button>
<button (click)="mode2Right()">mode2Right</button>
<button (click)="mode2Top()">mode2Top</button>
<button (click)="mode2Bottom()">mode2Bottom</button>

<button (click)="togglePopUp(false)">toggle pop</button> -->
<!-- <button (click)="ConfirmInputs()">confrim</button> -->
<!-- <button (click)="printContent(event)">print it</button> -->





















<div class="popUp ClosePopUp" (click)="CLosePopUp($event)" id="popUp">
    <div class="popUpTab">
        <button class="popUpButtonLeft contentFontBold" (click)="Confirm()">Confirm</button>
        <button class="popUpButtonRight contentFontBold" (click)="togglePopUp(true)">Discard</button>
        <div class="imgEditComponent">
            <mat-icon (click)="zoomInImg()" svgIcon="zoom-in" class="editImg zoom-in"></mat-icon>
            <mat-icon (click)="zoomOutImg()" svgIcon="zoom-out" class="editImg zoom-out"></mat-icon>
            <mat-icon (click)="RotateImg()" svgIcon="rotate" class="editImg rotate"></mat-icon>
        </div>
        <div class="transparentContainer">
            <img class="transparentBG" src="../../assets/transparentBG.jpg" alt="">
            <div class="tempImage circleMode">
                <img class="tmepImgInside" src="../../assets/test.jpg" alt="">
                <div id='square' [cdkDragFreeDragPosition]="ResetBox" (cdkDragMoved)="dragMoved($event)"
                    class="croppingBox HidecroppingBox" cdkDragBoundary=".tempImage" cdkDrag>
                    <div class="longRod1Vertical"></div>
                    <div class="longRod2Vertical"></div>
                    <div class="longRod1Horizontal"></div>
                    <div class="longRod2Horizontal"></div>

                    <div class="sideLeft"></div>
                    <div class="sideRight"></div>
                    <div class="sideTop"></div>
                    <div class="sideBottom"></div>

                    <div class="leftTopCorner"></div>
                    <div class="rightTopCorner"></div>
                    <div class="leftBottomCorner"></div>
                    <div class="rightBottomCorner"></div>
                </div>

            </div>


        </div>

    </div>
</div>

<div class="currentPage">
    <div class="cover">

        <div class="UpperPart">
            <div class="img">
                <div class="svgContainer">
                    <div class="deleteLayerParent" *ngIf="SelectedImg">
                        <div class="deleteLayer" (click)="deleteImg()">
                            <mat-icon svgIcon="x" class="x"></mat-icon>
                        </div>
                    </div>
                    <div class="avatarParent">
                        <mat-icon svgIcon="p2" class="avatar"></mat-icon>
                    </div>





                    <div class="HoverOn">
                        <div class="uploadContainer">
                            <input class="inputFile" (input)="handleFileInput($event.target)" type="file"
                                accept="image/*">

                            <svg class="upload notMe" width="30" height="30" fill="none" stroke="currentColor"
                                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7 18.003a4.815 4.815 0 0 1-3.326-1.318 4.403 4.403 0 0 1-1.378-3.182c0-1.193.496-2.338 1.378-3.182A4.815 4.815 0 0 1 7 9.003c.295-1.313 1.157-2.466 2.397-3.207a5.971 5.971 0 0 1 2.025-.749 6.223 6.223 0 0 1 2.19.006c.722.131 1.408.39 2.02.76a5.36 5.36 0 0 1 1.543 1.397c.408.553.69 1.172.832 1.823.142.65.14 1.32-.007 1.97h1a3.5 3.5 0 0 1 0 7h-1">
                                </path>
                                <path d="m9 15 3-3 3 3"></path>
                                <path d="M12 12v9"></path>
                            </svg>
                        </div>






                        <svg (click)="OpenSettings()" class="upload" width="30" height="30" fill="none"
                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.723 1.723 0 0 0-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066-2.573c-.94-1.543.826-3.31 2.37-2.37 1 .608 2.296.07 2.572-1.065Z">
                            </path>
                            <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                        </svg>

                        <svg (click)="DeleteImage()" class="upload" width="30" height="30" fill="none"
                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10 11v6m4-6v6M4 7h16m-1 0-.867 12.142A2 2 0 0 1 16.138 21H7.862a2 2 0 0 1-1.995-1.858L5 7h14Zm-4 0V4a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v3h6Z">
                            </path>
                        </svg>




                    </div>


                    <div class="HoverOnSetting">

                        <div class="op1" (click)="circleMode()">
                            <mat-icon svgIcon="woman" class="head"></mat-icon>
                            <mat-icon svgIcon="circle" class="circle"></mat-icon>
                        </div>

                        <div class="op1" (click)="squareMode()">
                            <mat-icon svgIcon="woman" class="head"></mat-icon>
                            <mat-icon svgIcon="square" class="circle"></mat-icon>
                        </div>

                        <div class="op1" (click)="mode1RightTop()">
                            <mat-icon svgIcon="woman" class="head"></mat-icon>
                            <mat-icon svgIcon="avatar1" class="circle back4"></mat-icon>
                        </div>

                        <div class="op1" (click)="mode1RightBottom()">
                            <mat-icon svgIcon="woman" class="head"></mat-icon>
                            <mat-icon svgIcon="avatar1" class="circle"></mat-icon>
                        </div>

                        <div class="op1" (click)="mode1LeftBottom()">
                            <mat-icon svgIcon="woman" class="head"></mat-icon>
                            <mat-icon svgIcon="avatar1" class="circle back2"></mat-icon>
                        </div>
                        <div class="op1" (click)="mode1LeftTop()">
                            <mat-icon svgIcon="woman" class="head"></mat-icon>
                            <mat-icon svgIcon="avatar1" class="circle back3"></mat-icon>
                        </div>

                        <div class="op1" (click)="mode2Top()">
                            <mat-icon svgIcon="woman" class="head"></mat-icon>
                            <mat-icon svgIcon="avatar2" class="circle back4"></mat-icon>
                        </div>

                        <div class="op1" (click)="mode2Right()">
                            <mat-icon svgIcon="woman" class="head"></mat-icon>
                            <mat-icon svgIcon="avatar2" class="circle"></mat-icon>
                        </div>

                        <div class="op1" (click)="mode2Bottom()">
                            <mat-icon svgIcon="woman" class="head"></mat-icon>
                            <mat-icon svgIcon="avatar2" class="back2 circle"></mat-icon>
                        </div>

                        <div class="op1" (click)="mode2Left()">
                            <mat-icon svgIcon="woman" class="head"></mat-icon>
                            <mat-icon svgIcon="avatar2" class="back3 circle"></mat-icon>
                        </div>

                        <div class="op1" (click)="randomDiceAvatar()">
                            <mat-icon svgIcon="roll-dice2" class="roll"></mat-icon>
                        </div>







                    </div>

                    <div class="RestImg RestImgHidden">
                        <img class="tmepImgInsideRest" alt="">
                    </div>

                </div>
            </div>
            <div class="intro">
                <h3 contenteditable="true" class="name" id="title">Lorem, ipsum.</h3>
                <h3 contenteditable="true" class="title">Lorem ipsum dolor sit amet.</h3>
                <h3 contenteditable="true" class="desc"> Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit.
                    Aspernatur suscipit deleniti sit
                    minus minima id, at ex labore officiis explicabo vitae dignissimos veritatis, reprehenderit
                    non
                    beatae
                    inventore perferendis hic voluptatum?</h3>

            </div>

        </div>


        <app-contact></app-contact>




        <div class="LowerPart">
            <!-- <div class="text" style="background-color: red; width: 200px; height: 1200px;"></div> -->



            <app-education [Title]="'Education'" class="section"></app-education>



            <app-experience [Title]="'Experience'" class="section"></app-experience>

            <app-project [Title]="'Academic Projects'" class="section"></app-project>





        </div>
    </div>








</div>