::ng-deep :root {
    --width: 950px;
    --height: 1300px;

    --boldFont: UBFont;
    --lightFont: ULFont;
    --nameFontSize: 35px;
    --titleFontSize: 20px;
    --descFontSize: 20px;

    --AvatarWidth: 200px;
    /* --image: url('../../assets/test.jpg'); */


    --leftColumnRows: 6;
    --rightColumnRows: 6;

    --rowSize: 100px;

    --theme1: #2feaa8;
    --theme12: #25be89;
    --dangerColor: #FE004D;

    --theme2: #425061;

    --xLocation: 50%;
    --yLocation: 50%;
    --radius: 100%;

    --clippingX: 50%;
    --clippingY: 50%;

    --SquareBorderRadius: 2px;


    --border-top-left-radius: 50%;
    --border-top-right-radius: 50%;
    --border-bottom-right-radius: 50%;
    --border-bottom-left-radius: 50%;



    /* --clippingRadius: 200px; */


}

* {
    margin: 0;
    padding: 0;
}


.currentPage {
    background-color: white;
    margin-bottom: 0.5cm;
    /* box-shadow: 0 0 20px rgb(33 33 33 / 20%); */
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    width: var(--width);
    height: var(--height);
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    /* size: a4; */
}

/* .ResizeableCss {
    width: 21cm;
    height: 29.7cm;
}


.PrintSizeCss {
    width: 70vw;
    height: 120vh;
} */



@page {
    /* background-color: gray; */
    size: A4;
    margin: 90px;
}

@media print {
    /* * {
        display: none;
    }

    .currentPage,
    .currentPage * {
        display: block;
    } */
}

/* .layers {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/layers.svg');
} */

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.UpperPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 2;
}

.LowerPart {
    display: flex;
    flex: row;
    justify-content: space-between;
    flex: 8;
    /* background-color: blue; */

}

.MiddlePart {
    display: flex;
    flex-flow: row wrap;
    background-color: rgba(128, 128, 128, 0.078);
    justify-content: center;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.MiddleRow {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 6px;
}

.MiddleColumn {
    flex-basis: 50%;
}

.leftCol {
    /* background-color: red; */
    flex: 1;
    /* height: 500px; */

}

.rightCol {
    /* background-color: green; */

    flex: 1;
}

.rest {
    height: 80%;
    /* background-color: blue; */
}

.column {
    background-color: aquamarine;
}

.img {
    flex: 1;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    height: 100%; */
    /* background-image: var(--image); */
}

.intro {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: stretch; */
    /* background-color: green; */
    gap: 10px;
}


.name {
    font-family: var(--boldFont);
    font-size: var(--nameFontSize);
    /* border: 2px solid green; */
}


.title {
    font-family: var(--lightFont);
    font-size: var(--titleFontSize);
}

.desc {
    font-family: var(--lightFont);
    font-size: var(--descFontSize);
}

h3[contenteditable] {
    transition: all 0.2s;
    padding: 5px;
    border-radius: 16px;
}

h3[contenteditable]:focus {
    outline: none;
    border-bottom: var(--theme1) 3px solid;

}

h3[contenteditable]:hover {
    outline: none;
    background-color: rgba(128, 128, 128, 0.078);
    box-sizing: border-box;
}



.AllSkills {
    flex: 9;
    /* background-color: red; */
    position: relative;
    overflow: hidden;

}



.AllSkills:hover .trash {
    left: 85%;

}


.trash {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    cursor: pointer;
    background-color: var(--dangerColor);
    text-align: center;
    border-radius: 16px;
    transition: all 0.4s;

}

.visible {
    top: 50%;
    left: 90%;
    background-color: red;
}

.skillSvg {
    flex: 1;
    cursor: move;
}


.skill {
    font-family: var(--lightFont);
    font-size: 18px;
    transition: all 0.2s;
    padding: 5px;
    border-radius: 16px;
    border: none;
    background-color: transparent;
    font-weight: 700;
    width: 100%;
    padding-left: 16px;

}



.skill:focus {
    outline: none;
    border-bottom: var(--theme1) 3px solid;
}

.skill:hover {
    outline: none;
    background-color: rgba(128, 128, 128, 0.078);
    box-sizing: border-box;
}




@font-face {
    font-family: ULFont;
    src: url('./../../assets/font/Ubuntu-Light.ttf');
}

@font-face {
    font-family: UBFont;
    src: url('./../../assets/font/Ubuntu-Bold.ttf');
}

.svgContainer {
    background-color: rgba(128, 128, 128, 0.319);
    /* padding: 8px; */
    /* border-radius: 50%; */
    border-top-right-radius: var(--border-top-right-radius);
    border-top-left-radius: var(--border-top-left-radius);
    border-bottom-right-radius: var(--border-bottom-right-radius);
    border-bottom-left-radius: var(--border-bottom-left-radius);

    width: var(--AvatarWidth);
    height: var(--AvatarWidth);
    /* background-color: green; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.4s all;
    /* overflow: hidden; */

}

/* .testClass {
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
} */


.avatar {
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-icon.avatar {
    /* background-color: #2feaa8; */
    width: 130%;
    height: 130%;
}

.svg {
    width: 100%;
}

.img:hover .HoverOn {
    height: 140px;
    left: -20%;
}



.img:hover .upload {
    visibility: visible;
}

.HoverOn {
    background-color: var(--theme1);
    position: absolute;
    left: 0;
    right: 100%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 30px;
    height: 0px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.4s;
}

.inputFile {
    background-color: red;
    opacity: 0;
    position: absolute;
    z-index: 999;
    cursor: pointer;

}

.uploadContainer {
    position: relative;
    flex: 1;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    transition: all 0.4s;
}



.upload {
    flex: 1;
    transition: background-Color 0.4s;
    cursor: pointer;
    visibility: hidden;
}

/* .upload:nth-child(1) {
    border-radius: 20px 20px 0 0;
} */

.upload:nth-last-of-type(1) {
    border-radius: 0 0 20px 20px;
}

.upload:hover:not(.notMe) {
    background-color: var(--theme12);
}

.uploadContainer:hover {
    background-color: var(--theme12);
}


.example-list {
    /* width: 500px; */
    max-width: 100%;
    border: solid 1px #ccc;
    height: 100%;
    display: block;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    /* display: flex; */

}

.row {
    /* padding: 20px 10px; */
    height: var(--rowSize);
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    cursor: move;
    /* background: white; */
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.078);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 1;
    background-color: rgba(0, 255, 255, 0.152);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-list.cdk-drop-list-dragging .row:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.addNewSkill {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    background-color: var(--theme1);
    width: 40px;
    height: 40px;
    transition: all 0.4s;
    /* gap: 10px; */
}


.addNewSkill:hover {
    width: 50%;
}

.addNewSkill .skillSvg {
    cursor: pointer;
    transition: all 0.4s;
    /* border-radius: 20px; */
    height: 100%;
}

.addNewSkill .skillSvg:nth-child(2) {
    border-radius: 20px 0 0 20px;
}

.addNewSkill .skillSvg:nth-last-of-type(1) {
    border-radius: 0 20px 20px 0;
}


.addNewSkill .skillSvg:not(.disabled):hover {
    background-color: var(--theme12);
}

.addIcon {
    /* opacity: 1;
    transition: all 0.2s; */
}


.addNewSkill:hover .addIcon {
    display: none;
}

.addNewSkill .disabled {
    background-color: rgb(128, 128, 128);
    cursor: default;
}

.RemoveBeforPrint {
    display: none;
}

.imgToggle {
    display: none;
}

.svgPersonToggle {
    visibility: hidden;
}

.tempImage {
    /* background-color: red; */
    /* background-image: url('../../assets/transparentBG.jpg'); */
    opacity: 1;
    position: absolute;
    /* 
    mask-image: radial-gradient(circle at var(--clippingX) var(--clippingY), black calc(var(--AvatarWidth)/2), rgba(0, 0, 0, 0.5) 0%);
    -webkit-mask-image: radial-gradient(circle at var(--clippingX) var(--clippingY), black calc(var(--AvatarWidth)/2), rgba(0, 0, 0, 0.5) 0%); */
    /* left: 200px; 
    top: 100px; */
    /* clip-path: circle(var(--radius) at var(--xLocation) var(--yLocation));
    clip-path: inset(calc(var(--yLocation) - var(--radius)) calc(100% - calc(var(--xLocation) + var(--radius))) calc(100% - calc(var(--yLocation) + var(--radius))) calc(var(--xLocation) - var(--radius)) round 0%); */

    width: 400px;
    /* max-height: 300px; */
    /* height: 400px; */



    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 0.4s all; */

}

.selecting {
    mask-image: radial-gradient(circle at var(--clippingX) var(--clippingY), black calc(var(--AvatarWidth)/2), rgba(0, 0, 0, 0.5) 0%);
    -webkit-mask-image: radial-gradient(circle at var(--clippingX) var(--clippingY), black calc(var(--AvatarWidth)/2), rgba(0, 0, 0, 0.5) 0%);
}

/* this selector will set the diff modes of the the selected images */
.RestImg {
    opacity: 1;
    position: absolute;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all;

}

/* this will set the avatar of square */
.squareMode {
    clip-path: inset(calc(var(--yLocation) - var(--radius)) calc(100% - calc(var(--xLocation) + var(--radius))) calc(100% - calc(var(--yLocation) + var(--radius))) calc(var(--xLocation) - var(--radius)));
}

.circleMode {
    clip-path: circle(var(--radius) at var(--xLocation) var(--yLocation));
}

.mode1LeftTop {
    clip-path: inset(calc(var(--yLocation) - var(--radius)) calc(100% - var(--xLocation)) calc(100% - var(--yLocation)) calc(var(--xLocation) - var(--radius)));

}

.mode1RightTop {
    clip-path: inset(calc(var(--yLocation) - var(--radius)) calc(100% - var(--xLocation) - var(--radius)) calc(100% - var(--yLocation)) var(--xLocation));

}

.mode1RightBottom {
    clip-path: inset(var(--yLocation) calc(100% - var(--xLocation) - var(--radius)) calc(100% - var(--yLocation) - var(--radius)) var(--xLocation));

}

.mode1LeftBottom {
    clip-path: inset(var(--yLocation) calc(100% - var(--xLocation)) calc(100% - var(--yLocation) - var(--radius)) calc(var(--xLocation) - var(--radius)));

}

.mode2Left {
    clip-path: inset(calc(var(--yLocation) - var(--radius)) calc(100% - var(--xLocation)) calc(100% - var(--yLocation) - var(--radius)) calc(var(--xLocation) - var(--radius)));

}

.mode2Right {
    clip-path: inset(calc(var(--yLocation) - var(--radius)) calc(100% - var(--xLocation) - var(--radius)) calc(100% - var(--yLocation) - var(--radius)) var(--xLocation));

}

.mode2Top {
    clip-path: inset(calc(var(--yLocation) - var(--radius)) calc(100% - var(--xLocation) - var(--radius)) calc(100% - var(--yLocation)) calc(var(--xLocation) - var(--radius)));
}

.mode2Bottom {
    clip-path: inset(var(--yLocation) calc(100% - var(--xLocation) - var(--radius)) calc(100% - var(--yLocation) - var(--radius)) calc(var(--xLocation) - var(--radius)));
}



.hidden {
    display: none;
}


.blackLayer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.tmepImgInside,
.tmepImgInsideRest {
    width: 100%;
    /* opacity: 0.5; */
    /* width: 100px;
    height: 100px; */
}

.dragHandle {
    background-color: red;
    width: 20px;
    height: 20px;
}

/* .addRound {
    clip-path: circle(50% at 50% 50%);
} */

.croppingBox {
    height: var(--AvatarWidth);
    width: var(--AvatarWidth);
    background-color: transparent;
    position: absolute;
    left: calc(50% - calc(var(--AvatarWidth)/2) - var(--SquareBorderRadius));
    top: calc(50% - calc(var(--AvatarWidth)/2) - var(--SquareBorderRadius));
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--SquareBorderRadius) white solid;
    /* background-color: red;
    opacity: 0.2; */
    /* box-sizing: border-box; */
    cursor: all-scroll;

}



.black:hover :not(.tempImage) {
    background-color: red;

}

.black {
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.longRod1Vertical {
    background-color: white;
    height: calc(100% +var(--SquareBorderRadius));
    width: calc(var(--SquareBorderRadius) /2);
    position: absolute;
    left: calc(33.33% - var(--SquareBorderRadius));
    top: calc(50% - calc(var(--AvatarWidth)/2) - var(--SquareBorderRadius));
    opacity: 0.5;
    /* background: repeating-linear-gradient(to bottom,
            transparent 0 10px,
            white 10px 20px); */
}

.longRod2Vertical {
    background-color: white;
    height: calc(100% +var(--SquareBorderRadius));
    width: calc(var(--SquareBorderRadius) /2);
    position: absolute;
    left: calc(66.66% - var(--SquareBorderRadius));
    top: calc(50% - calc(var(--AvatarWidth)/2) - var(--SquareBorderRadius));
    opacity: 0.5;
    /* background: repeating-linear-gradient(to bottom,
            transparent 0 10px,
            white 10px 20px); */
}

.longRod1Horizontal {
    background-color: white;
    width: calc(100% +var(--SquareBorderRadius));
    height: calc(var(--SquareBorderRadius) /2);
    position: absolute;
    top: calc(33.33% - var(--SquareBorderRadius));
    left: calc(50% - calc(var(--AvatarWidth)/2) - var(--SquareBorderRadius));
    opacity: 0.5;
    /* 
    background: repeating-linear-gradient(to right,
            transparent 0 10px,
            white 10px 20px); */
}

.longRod2Horizontal {
    background-color: white;
    width: calc(100% +var(--SquareBorderRadius));
    height: calc(var(--SquareBorderRadius) /2);
    position: absolute;
    top: calc(66.66% - var(--SquareBorderRadius));
    left: calc(50% - calc(var(--AvatarWidth)/2) - var(--SquareBorderRadius));
    opacity: 0.5;
    /* background: repeating-linear-gradient(to right,
            transparent 0 10px,
            white 10px 20px); */
}

.sideLeft {
    height: 26px;
    width: 3px;
    position: absolute;
    background-color: white;
    left: 2px;
    top: calc(50% - var(--SquareBorderRadius));
    transform: translate(0, -50%);
}

.sideRight {
    height: 26px;
    width: 3px;
    position: absolute;
    background-color: white;
    right: 2px;
    top: calc(50% - var(--SquareBorderRadius));
    transform: translate(0, -50%);
}


.sideTop {
    width: 26px;
    height: 3px;
    position: absolute;
    background-color: white;
    top: 2px;
    left: calc(50% - var(--SquareBorderRadius));
    transform: translate(-50%, 0);
}

.sideBottom {
    width: 26px;
    height: 3px;
    position: absolute;
    background-color: white;
    bottom: 2px;
    left: calc(50% - var(--SquareBorderRadius));
    transform: translate(-50%, 0);
}

.leftTopCorner {
    position: absolute;
    background-color: transparent;
    left: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    border-left: 6px solid white;
    border-top: 6px solid white;

}

.rightTopCorner {
    position: absolute;
    background-color: transparent;
    right: 2px;
    top: 2px;
    width: 20px;
    height: 20px;
    border-right: 6px solid white;
    border-top: 6px solid white;

}


.rightBottomCorner {
    position: absolute;
    background-color: transparent;
    right: 2px;
    bottom: 2px;
    width: 20px;
    height: 20px;
    border-right: 6px solid white;
    border-bottom: 6px solid white;

}

.leftBottomCorner {
    position: absolute;
    background-color: transparent;
    left: 2px;
    bottom: 2px;
    width: 20px;
    height: 20px;
    border-left: 6px solid white;
    border-bottom: 6px solid white;

}





.button {
    position: absolute;
    right: 0;
    top: 0;
}













.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    /* padding: 10px; */

}

.example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-boundary {
    width: 400px;
    height: 400px;
    max-width: 100%;
    border: dotted #ccc 2px;
}

.popUp {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.403);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpTab {
    width: 600px;
    height: 200px;
    background-color: white;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.4s;
}

.popUpTabAnimation {
    width: 1000px;
    height: 600px;
}

.popUpButtonLeft,
.popUpButtonRight {
    border-radius: 16px;
    background-color: var(--theme1);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    /* min-width: 100px; */

}

.popUpButtonLeft {
    position: absolute;
    left: 16px;
    top: 16px;

}

.popUpButtonRight {
    position: absolute;
    right: 16px;
    top: 16px;
    background-color: var(--dangerColor);

}

.transparentContainer {
    width: 75%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.2s;
}

.transparentContainerToggle {
    opacity: 1;
}

.transparentBG {
    border-radius: 16px;
    width: 100%;
}

.OpenPopUp {
    /* visibility: visible; */
    opacity: 1;
    transition: all 0.4s;
}

.ClosePopUp {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
}

.transform {
    transform: translate3d(0px, 0px, 0px) !important;
}

.hidden {
    visibility: hidden;
}

/* 
*/
.AvatarOptions {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100px;

}

.op1 {
    position: relative;
    background-color: #25be89;
    width: 10%;

}


.head {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.back1,
.square {
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.back2 {
    transform: translate(-50%, -50%) rotateZ(90deg);
}

.back3 {
    transform: translate(-50%, -50%) rotateZ(180deg);
}

.back4 {
    transform: translate(-50%, -50%) rotateZ(270deg);
}

/* for the background */
.mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.RestImgHidden {
    visibility: hidden;
    transition: none;

}